@CHARSET "UTF-8";

a {
	padding: 1px 4px;
}

h4 {
	margin-top: 20px; 
	padding: 15px 3px; 
	background-color:#eee
}
	
.file_list {
	margin: 30px 15px;
}

.upload_div {
	float: right; 
	margin-top: 80px
}

.c1, .c4 {
	color: silver;
}

.name_type_dir {
	color: gray;
}

.name_type_exe {
	color: fuchsia;
}

.spor {
	width: 100%;
	border: 1px solid #bbb;
}

.progress_msg {
	font-size: 10px;
	color: gray;
}

.rename_span {
	display: none;
	border: 1px solid gray;
	border-width: 1px 2px 2px 1px;
}